/* Footer Container */
.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 30px;
  display: flex;
  flex-shrink: 1;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* Footer Section */
.footer-section {
  flex: 1;
  padding: 0 20px;
  margin-left: 20px;
}

.brand {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Titles and Lists */
.footer-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.list-item:hover{
  text-decoration: underline;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons .fab {
  font-size: 20px;
  cursor: pointer;
}

.fab:hover{
  color: #000000;
  background-color: #fff;
  scale: 2 ease;
}

.one{
  background-color: transparent;
}

.two{
  background-color: transparent;
}

.three{
  background-color: transparent;
}

/* Media Queries */

/* For screens with a maximum width of 768px */
@media (max-width: 768px) {
  .footer {
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    min-height: auto;
  }

  .footer-container {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    width: 100vh;
  }

  .brand{
    font-family: '';
  }

  .footer-section h2{
    font-size: 35px;
  }

  .footer-text {
    margin-bottom: 15px;
    /* width: 40%; */
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .footer-section {
    margin-bottom: 20px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .footer-title {
    margin-bottom: 10px;
  }

  .footer-list {
    margin-bottom: 30px;
  }

  .one {
    width: 100%;
    margin-top: 20px;

  }

  .two{
    width: 100%;
  }

  .three{
    width: 100%;
  }

  .one h3,.two h3,.three h3 {
    font-size: 25px;
  }
}

/* For screens with a maximum width of 480px */
@media (max-width: 480px) {
  .footer {
    margin: 0 auto;
    padding: 20px;
  }
}